#menuopen {
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #000;
	visibility: visible;
}

a.linkopacity img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	-khtml-opacity: 0.8;
	border: none;
}

a.linkopacity:hover img {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
	-khtml-opacity: 1.0;
	border: none;
}

.menu-navi ul{
	float: right;
	overflow: hidden;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}

.handle {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 16px;
	color: white;
	display: none;
}

.menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
}

.menu_icon {
	float: right;
	margin: .5em 0;
	background-color: #825D5D;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}

.menu_icon_close div {
  	background-color: white;
 	border-radius: 5px;
  	width: 35px;
  	height: 5px;
  	margin: 5px;
}

.menu_icon_close {
	float: right;
	margin: .5em 0;
	background-color: #BBBBBB;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}

@media screen and (max-width: 900px) {
	.menu-navi ul{
		list-style: none;
		width: 100%;
		background-color: #191919;
		max-height: 0px ;
		background-image: url("../images/menu-bg-mobile.png");
		background-size: auto 100%;
		background-position: right center;
		background-repeat: no-repeat;

	}
	
	.menu-navi ul li {
		box-sizing: border-box;
		width: 100%;	
	}
	
	.showing{
		max-height: 1000px !important;
		z-index: 600;
	}
	
	.handle {
		display: block;
		height: 70px;
		width: 100%;
		z-index: 500;
	}

}










/* Icon */

#nav-icon3 {
  width: 46px;
  height: 35px;
  float: right;
  margin:  auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

/* /Icon */


/* /BACKGROUND IMAGES FOOD */


.tn-chicken-taco {
	background-image: url("../images/food-set/thumbnail-taco-chicken.png");
}

.tn-beef-taco {
	background-image: url("../images/food-set/thumbnail-taco-beef.png");
}

.tn-barbacoa-taco {
	background-image: url("../images/food-set/thumbnail-taco-barbacoa.png");
}

.tn-mixed-taco {
	background-image: url("../images/food-set/thumbnail-taco-mixed.png");
}

.tn-veggie-taco {
	background-image: url("../images/food-set/thumbnail-taco-veggie.png");
}

.tn-vegan-taco {
	background-image: url("../images/food-set/thumbnail-taco-vegan.png");
}

.tn-criso-chicken-taco {
	background-image: url("../images/food-set/thumbnail-taco-criso-chicken.png");
}

.tn-criso-beef-taco {
	background-image: url("../images/food-set/thumbnail-taco-criso-beef.png");
}



.tn-chicken-burrito {
	background-image: url("../images/food-set/thumbnail-burrito-chicken.png");
}

.tn-beef-burrito {
	background-image: url("../images/food-set/thumbnail-burrito-beef.png");
}

.tn-barbacoa-burrito {
	background-image: url("../images/food-set/thumbnail-burrito-barbacoa.png");
}

.tn-steak-burrito {
	background-image: url("../images/food-set/thumbnail-burrito-steak.png");
}

.tn-veggie-burrito {
	background-image: url("../images/food-set/thumbnail-burrito-veggie.png");
}

.tn-vegan-burrito {
	background-image: url("../images/food-set/thumbnail-burrito-vegan.png");
}



.tn-chicken-cup {
	background-image: url("../images/food-set/thumbnail-cup-chicken.png");
}

.tn-beef-cup {
	background-image: url("../images/food-set/thumbnail-cup-beef.png");
}

.tn-barbacoa-cup {
	background-image: url("../images/food-set/thumbnail-cup-barbacoa.png");
}

.tn-steak-cup {
	background-image: url("../images/food-set/thumbnail-cup-steak.png");
}

.tn-veggie-cup {
	background-image: url("../images/food-set/thumbnail-cup-veggie.png");
}

.tn-vegan-cup {
	background-image: url("../images/food-set/thumbnail-cup-vegan.png");
}



.tn-chicken-salad {
	background-image: url("../images/food-set/thumbnail-salad-chicken.png");
}

.tn-beef-salad {
	background-image: url("../images/food-set/thumbnail-salad-beef.png");
}

.tn-barbacoa-salad {
	background-image: url("../images/food-set/thumbnail-salad-barbacoa.png");
}

.tn-steak-salad {
	background-image: url("../images/food-set/thumbnail-salad-steak.png");
}

.tn-veggie-salad {
	background-image: url("../images/food-set/thumbnail-salad-veggie.png");
}

.tn-vegan-salad {
	background-image: url("../images/food-set/thumbnail-salad-vegan.png");
}



.tn-drink-coke {
	background-image: url("../images/food-set/thumbnail-drink-coke.png");
}

.tn-drink-mezzo-fanta-sprite {
	background-image: url("../images/food-set/thumbnail-drink-mezzo-fanta-sprite.png");
}

.tn-drink-vio {
	background-image: url("../images/food-set/thumbnail-drink-vio.png");
}

.tn-drink-ibc {
	background-image: url("../images/food-set/thumbnail-drink-ibc.png");
}

.tn-drink-mountaindew-drpepper {
	background-image: url("../images/food-set/thumbnail-drink-mountaindew-drpepper.png");
}

.tn-drink-joetea {
	background-image: url("../images/food-set/thumbnail-drink-joetea.png");
}

.tn-drink-redbull {
	background-image: url("../images/food-set/thumbnail-drink-redbull.png");
}

.tn-drink-coronaextra {
	background-image: url("../images/food-set/thumbnail-drink-coronaextra.png");
}



.tn-cajunfries-side {
	background-image: url("../images/food-set/thumbnail-side-cajun-fries.png");
}

.tn-tortillachips-side {
	background-image: url("../images/food-set/thumbnail-side-tortilla-chips.png");
}

.tn-peppercornfries-side {
	background-image: url("../images/food-set/thumbnail-side-pepper-corn-fries.png");
}




.tn-chicken-tostado-snack {
	background-image: url("../images/food-set/thumbnail-snack-chicken-cheese-tostado.png");
}

.tn-beef-tostado-snack {
	background-image: url("../images/food-set/thumbnail-snack-beef-cheese-tostado.png");
}

.tn-verde-tostado-snack {
	background-image: url("../images/food-set/thumbnail-snack-verde-tostado.png");
}

.tn-chicken-crunchwrap-snack {
	background-image: url("../images/food-set/thumbnail-snack-crunchwrap.png");
}

.tn-chiliconcarne-snack {
	background-image: url("../images/food-set/thumbnail-snack-chili-con-carne.png");
}

.tn-chilicheesefries-snack {
	background-image: url("../images/food-set/thumbnail-snack-chili-cheese-fries.png");
}

.tn-cheesequesadilla-snack {
	background-image: url("../images/food-set/thumbnail-snack-quesadilla.png");
}

.tn-veggiequesadilla-snack {
	background-image: url("../images/food-set/thumbnail-snack-veggie-quesadilla.png");
}

.tn-chickenquesadilla-snack {
	background-image: url("../images/food-set/thumbnail-snack-chicken-quesadilla.png");
}

.tn-veggiecheesequesadilla-snack {
	background-image: url("../images/food-set/thumbnail-snack-veggiecheesequesadilla.png");
}

.tn-sweetchicken-tostado-snack {
	background-image: url("../images/food-set/thumbnail-snack-sweet-chicken-tostado.png");
}




.tn-sourcream-dip {
	background-image: url("../images/food-set/thumbnail-dip-sourcream.png");
}

.tn-chilicream-dip {
	background-image: url("../images/food-set/thumbnail-dip-chilicream.png");
}

.tn-cilantrocream-dip {
	background-image: url("../images/food-set/thumbnail-dip-cilantrocream.png");
}

.tn-cheesesauce-dip {
	background-image: url("../images/food-set/thumbnail-dip-cheesesauce.png");
}

.tn-sweetadobada-dip {
	background-image: url("../images/food-set/thumbnail-dip-sweetadobada.png");
}

.tn-guacamole-dip {
	background-image: url("../images/food-set/thumbnail-dip-guacamole.png");
}

.tn-salsa-dip {
	background-image: url("../images/food-set/thumbnail-dip-salsa.png");
}




.j-img-01 {
	background-image: url("../images/jobs-image-01.jpg");
}

.j-img-02 {
	background-image: url("../images/jobs-image-02.jpg");
}


.tn-n-icon-cup {
	background-image: url("../images/nutrition-icons/nu-icon-cup.png");
}

.tn-n-icon-salad {
	background-image: url("../images/nutrition-icons/nu-icon-salad.png");
}

.tn-n-icon-burrito {
	background-image: url("../images/nutrition-icons/nu-icon-burrito.png");
}

.tn-n-icon-1taco {
	background-image: url("../images/nutrition-icons/nu-icon-1taco.png");
}

.tn-n-icon-3tacos {
	background-image: url("../images/nutrition-icons/nu-icon-3tacos.png");
}

.tn-n-icon-taco-softshell {
	background-image: url("../images/nutrition-icons/nu-icon-taco-softshell.png");
}

.tn-n-icon-taco-hardshell {
	background-image: url("../images/nutrition-icons/nu-icon-taco-hardshell.png");
}

.tn-n-icon-sides {
	background-image: url("../images/nutrition-icons/nu-icon-sides.png");
}

.tn-n-icon-snacks {
	background-image: url("../images/nutrition-icons/nu-icon-snacks.png");
}

.tn-n-icon-dips {
	background-image: url("../images/nutrition-icons/nu-icon-dips.png");
}

.tn-n-icon-desserts {
	background-image: url("../images/nutrition-icons/nu-icon-desserts.png");
}

.tn-n-icon-chicken {
	background-image: url("../images/nutrition-icons/nu-icon-chicken.png");
}

.tn-n-icon-beef {
	background-image: url("../images/nutrition-icons/nu-icon-beef.png");
}

.tn-n-icon-veggie {
	background-image: url("../images/nutrition-icons/nu-icon-veggie.png");
}

.tn-n-icon-vegan {
	background-image: url("../images/nutrition-icons/nu-icon-vegan.png");
}

.tn-n-icon-reis {
	background-image: url("../images/nutrition-icons/nu-icon-reis.png");
}

.tn-n-icon-koriander-reis {
	background-image: url("../images/nutrition-icons/nu-icon-koriander-reis.png");
}

.tn-n-icon-cubes {
	background-image: url("../images/nutrition-icons/nu-icon-cubes.png");
}

.tn-n-icon-none {
	background-image: url("../images/nutrition-icons/nu-icon-none.png");
}

.ggfh{}

.tn-n-icon-salat {
	background-image: url("../images/nutrition-icons/nu-icon-salat.png");
}

.tn-n-icon-blackbeans {
	background-image: url("../images/nutrition-icons/nu-icon-blackbeans.png");
}

.tn-n-icon-gemuese {
	background-image: url("../images/nutrition-icons/nu-icon-gemuese.png");
}

.tn-n-icon-cheddarjack {
	background-image: url("../images/nutrition-icons/nu-icon-cheddarjack.png");
}

.tn-n-icon-lemon {
	background-image: url("../images/nutrition-icons/nu-icon-lemon.png");
}

.tn-n-icon-jalapenos {
	background-image: url("../images/nutrition-icons/nu-icon-jalapenos.png");
}

.tn-n-icon-sourcream {
	background-image: url("../images/nutrition-icons/nu-icon-sourcream.png");
}

.tn-n-icon-cilantrocream {
	background-image: url("../images/nutrition-icons/nu-icon-cilantrocream.png");
}

.tn-n-icon-chilicream {
	background-image: url("../images/nutrition-icons/nu-icon-chilicream.png");
}

.tn-n-icon-guacamole {
	background-image: url("../images/nutrition-icons/nu-icon-guacamole.png");
}

.tn-n-icon-cheesesauce {
	background-image: url("../images/nutrition-icons/nu-icon-cheesesauce.png");
}

.tn-n-icon-salsa-mildmedium {
	background-image: url("../images/nutrition-icons/nu-icon-salsa-mild-medium.png");
}

.tn-n-icon-salsa-hot {
	background-image: url("../images/nutrition-icons/nu-icon-salsa-hot.png");
}

.tn-n-icon-extra-chicken {
	background-image: url("../images/nutrition-icons/nu-icon-extra-chicken.png");
}

.tn-n-icon-extra-beef {
	background-image: url("../images/nutrition-icons/nu-icon-extra-beef.png");
}

.tn-n-icon-salsa-hot {
	background-image: url("../images/nutrition-icons/nu-icon-salsa-hot.png");
}

.tn-n-icon-check {
	background-image: url("../images/nutrition-icons/nu-icon-check.png");
}

.tn-n-icon-salsa-hot {
	background-image: url("../images/nutrition-icons/nu-icon-salsa-hot.png");
}

.tn-n-icon-sweet-adobada {
	background-image: url("../images/nutrition-icons/nu-icon-sweet-adobada.png");
}

.tn-n-icon-chili-con-carne {
	background-image: url("../images/nutrition-icons/nu-icon-chili-con-carne.png");
}


.tn-n-icon-habanero {
	background-image: url("../images/nutrition-icons/nu-icon-habanerosauce.png");
}

.tn-n-icon-tabasco {
	background-image: url("../images/nutrition-icons/nu-icon-tabasco.png");
}


.tn-n-icon-chilicheesefries {
	background-image: url("../images/nutrition-icons/nu-icon-chilicheesefries.png");
}

.tn-n-icon-quesadilla {
	background-image: url("../images/nutrition-icons/nu-icon-quesadilla.png");
}

.tn-n-icon-crunchwrap {
	background-image: url("../images/nutrition-icons/nu-icon-crunchwrap.png");
}

.tn-n-icon-tostado {
	background-image: url("../images/nutrition-icons/nu-icon-tostado.png");
}

.tn-n-icon-chiliconcarne {
	background-image: url("../images/nutrition-icons/nu-icon-chiliconcarne.png");
}

.tn-n-icon-tortilla-chips {
	background-image: url("../images/nutrition-icons/nu-icon-tortilla-chips.png");
}

.tn-n-icon-cajun-fries {
	background-image: url("../images/nutrition-icons/nu-icon-cajun-fries.png");
}

.tn-n-icon-pepper-corn-fries {
	background-image: url("../images/nutrition-icons/nu-icon-pepper-corn-fries.png");
}

.s-icon-location {
	background-image: url("../images/location-icon-map.png");
}

.s-icon-open {
	background-image: url("../images/location-icon-open.png");
}

.s-icon-phone {
	background-image: url("../images/location-icon-phone.png");
}

.s-icon-app {
	background-image: url("../images/location-icon-app.png");
}

.s-icon-delivery {
	background-image: url("../images/location-icon-delivery.png");
}

.s-location-kaiserstr {
	background-image: url("../images/location-img-kaiserstr.jpg")
}

.s-location-badsoden {
	background-image: url("../images/location-img-badsoden.jpg")
}

.s-location-mainz {
	background-image: url("../images/location-img-mainz.jpg")
}

.s-location-fulda {
	background-image: url("../images/location-img-fulda.jpg")
}

.s-location-berlin-lc {
	background-image: url("../images/location-img-berlin-lindencenter.jpg")
}

.s-location-berlin-gp {
	background-image: url("../images/location-img-berlin-gropius.jpg")
}

.s-location-fuldapickup {
	background-image: url("../images/location-img-fulda-pickup.jpg")
}

.s-location-nordwestzentrum {
	background-image: url("../images/location-img-nwz.jpg")
}

.s-location-wiesbaden {
	background-image: url("../images/location-img-wiesbaden.jpg")
}

.s-location-maintaunuszentrum {
	background-image: url("../images/location-img-mtz.jpg")
}
.dyk-bg-maya01 {
	background-image: url("../images/dyk-bg-maya01.png")
}

.dyk-bg-maya02 {
	background-image: url("../images/dyk-bg-maya02.png")
}

.dyk-bg-maya03 {
	background-image: url("../images/dyk-bg-maya03.png")
}

.dyk-bg-maya04 {
	background-image: url("../images/dyk-bg-maya04.png")
}

.dyk-bg-maya05 {
	background-image: url("../images/dyk-bg-maya05.png")
}

.dyk-bg-maya06 {
	background-image: url("../images/dyk-bg-maya06.png")
}

.sb-banner-cup {
	background-image: url("../images/subbanner-cup.jpg");	
}

.sb-banner-burrito {
	background-image: url("../images/subbanner-burrito.jpg");	
}

.sb-banner-salad {
	background-image: url("../images/subbanner-salad.jpg");	
}



.img-badge-appstore {
	background-image: url("../images/app-appstore-badge.png");	
}

.img-badge-googleplay {
	background-image: url("../images/app-googleplay-badge.png");	
}


.img-pdkt-icon-burritos  {
	background-image: url("../images/start-foodicon_burritos_.png");
}

.img-pdkt-icon-burritos:hover {
	background-image: url("../images/start-foodicon_burritos_ani.gif");
}

.img-pdkt-icon-cups {
	background-image: url("../images/start-foodicon_cups.png");
}

.img-pdkt-icon-cups:hover {
	background-image: url("../images/start-foodicon_cups_ani.gif");
}

.img-pdkt-icon-salads {
	background-image: url("../images/start-foodicon_salads.png");
}

.img-pdkt-icon-salads:hover {
	background-image: url("../images/start-foodicon_salads_ani.gif");
}

.img-pdkt-icon-tacos {
	background-image: url("../images/start-foodicon_tacos.png");
}

.img-pdkt-icon-tacos:hover {
	background-image: url("../images/start-foodicon_tacos_ani.gif");
}

.img-pdkt-icon-snacks {
	background-image: url("../images/start-foodicon_snacks.png");
}

.img-pdkt-icon-snacks:hover {
	background-image: url("../images/start-foodicon_snacks_ani.gif");
}

.img-pdkt-icon-sides {
	background-image: url("../images/start-foodicon_sides.png");
}

.img-pdkt-icon-sides:hover {
	background-image: url("../images/start-foodicon_sides_ani.gif");
}

.img-pdkt-icon-desserts {
	background-image: url("../images/start-foodicon_desserts.png");
}

.img-pdkt-icon-desserts:hover {
	background-image: url("../images/start-foodicon_desserts_ani.gif");
}

.img-pdkt-icon-dips {
	background-image: url("../images/start-foodicon_dips.png");
}

.img-pdkt-icon-dips:hover {
	background-image: url("../images/start-foodicon_dips_ani.gif");
}

.img-pdkt-icon-drinks {
	background-image: url("../images/start-foodicon_drinks.png");
}

.img-pdkt-icon-drinks:hover {
	background-image: url("../images/start-foodicon_drinks_ani.gif");
}

